html, body, #app {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 微软雅黑;
  font-size: 14px;
  color: rgba(0,0,0,0.85);
}

*{
  box-sizing: border-box;
}

a {
  text-decoration: none
}

.default-btn{
  color: white;
  background: linear-gradient(to right, #32ADD6, #21DE9C);
}

.border-radius-4{
  border-radius: 4px;
}

.border-radius-8{
  border-radius: 8px;
}

.style-title{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
}

.style-sub-title{
  font-size: 13px;
  color: rgba(0, 0, 0, 0.65);
}
