//和风天气card宽度设置
#he-plugin-standard{
  width: 100% !important;
  pointer-events: none;
}
//和风天气隐藏logo
.wv-lt-refresh {
  display: none;
}

//和风天气隐藏"切换"按钮
.wv-lt-location a{
  display: none !important;
}

.wv-v-h-location{
  display: none;
}



#tp-weather-widget {
  width: 100%;
  height: 140px;
  position: relative;


  .iNJlNg,.kBjuku {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    padding: 8px;
  }

  .emBiRU,.kAFYOC{
    display: none;
  }

  .blUPwB{
    height: 100px;
    padding: 0 8px;
    margin: 0;
  }

  .ijqNjY{
    position: absolute;
    top: 4px;
    right: 8px;
  }

  .dsFvTw{
    width: 100%;
    height: 100%;
  }

  .cHlxbs{
    height: 80px;
    bottom: 0;
  }

  .bRmqwc{
    width: 80%;
    height: 160px;
    bottom: -10px;
  }

  .hzdUrF{
    flex: 0;
    min-height: 35px;
  }
}
